<div class="build-component_container">
    <h1>JC Jeici</h1>
    <img src="/public/img/build-page.jpg" height="500" width="800"/>
</div>

<style>
    .build-component_container {
        display: flex;
        flex-direction: column;

        h1, img {
            margin: auto;
            color: #8A0B1B;
        }
    }
</style>